<!DOCTYPE html>
<html lang="en-US">
   <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

    
    <script src="./scriptJs.js"></script>

    <!-- bootstap from online -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

    <link rel="stylesheet" href="eecs493.css">

   </head>

    <body>
      <div class='outer-container'>
        <img src = "./ActiveInvites Logo.jpg" class='logo'>
        <div class="page" id="signup">
          <div class="signup-form">
            <form>
            <!--<div id="users">-->
              <h2>Sign Up</h2>
              <p>Please fill in this form to create an account!</p>
              <hr>
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-6"><input type="text" class="form-control" name="first_name" placeholder="First Name" required="required"
                      v-model="firstname">
                    </div>
                    <div class="col-xs-6"><input type="text" class="form-control" name="last_name" placeholder="Last Name" required="required"
                      v-model="lastname">
                    </div>
                  </div>        	
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" placeholder="Email" required="required" v-model="email">
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" name="address" placeholder="Home Address" required="required" v-model="address">
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" name="zipcode" placeholder="Zipcode" required="required" v-model="zipcode">
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" name="age" placeholder="Age" required="required" v-model="age">
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" name="weight" placeholder="Weight (lbs)" required="required" v-model="weight">
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" name="height" placeholder="Height (inches)" required="required" v-model="height">
                </div>

                <div class="form-group">
                  <input type="password" class="form-control" name="password" placeholder="Password" required="required" v-model="password">
                </div>

                <div class="form-group">
                  <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required="required" v-model="reentered">
                </div>        
                <div class="form-group">
                  <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the Terms of Use and Privacy Policy</label>
                </div>
                <div class="form-group">
                  <button onclick="show('events');" type="submit" class="btn btn-primary btn-lg" class="createaccount">Sign Up</button>
                </div>
            </form>
              <div class="hint-text">
                Already have an account? 
                <a onclick="show('signin');" href="#signin" class="login">Login here</a>
              </div>
          </div>  
        </div>    
        <div class="page" id="signin" style="display:none">
          <div class="signup-form">
            <form>
            
            <div id="users">
              <h2>Login</h2>
              <hr>
              <div class="form-group">  
                <div class="form-group">
                  <input type="email" class="form-control" name="email" placeholder="Email" required="required" v-model="email">
                </div>

                <div class="form-group">
                  <input type="password" class="form-control" name="password" placeholder="Password" required="required"
                      v-model="password">
                </div>

                <div class="form-group">
                  <button type="submit" onclick="show('events');" class="btn btn-primary btn-lg" class="createaccount">Log in</button>
                </div>
              </div>
            </form>
                </div>
              </div>  
            </div>
          </div> 
        </div>     

        <!-- <button type="button" class="login">log in</button>
        <button type="button" class="signup">sign up</button>
        <div class="signup-form">
            <input type="text" placeholder="*Email Address" class="input" v-model="email">
            <input type="text" placeholder="*Password" class="input" v-model="password">
            <input type="text" placeholder="*Re-enter Password" class="input" v-model="reentered">
            <input type="text" placeholder="*First Name" class="input" v-model="firstname">
            <input type="text" placeholder="*Last Name" class="input" v-model="lastname">

            <input type="text" placeholder="Home Address" class="input" v-model="address">
            <input type="text" placeholder="*Zip Code" class="input" v-model="zipcode">
            <input type="text" placeholder="Age" class="input" v-model="age">
            <input type="text" placeholder="Weight (lbs)" class="input" v-model="weight">
            <input type="text" placeholder="Height (in)" class="input" v-model="height">
            <button type="button" class="createaccount">Create Account</button> -->
        <div class="page" id="events" style="display:none">
            <nav class="navbar navbar-default">
              <div class="container">
                <div class="navbar-header">
                    <h3 style="color:#FDC160;">Fitness Event Search</h3>
                </div>
              </div>
            </nav>
          <div class = "container">
            <div class="search-container">
              <h4>Enter the name of the event : </h4>
              <input style="color: black;" type="text" v-model="search"placeholder="Type here to search...">
              <button type="submit" v-on:click="searchEvents()"><i class="fa fa-search"></i></button>
            </div>
            <h4>
              Events Found: {{numEvents}}
            </h4>
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort list of events by:
              <span class="caret"></span></button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a v-bind:class = "[sortDate ? 'dropdown-item active' : 'dropdown-item']" @click="sortArtists(1)" href="#1">Date</a></li>
                <li><a v-bind:class = "[sortDuration ? 'dropdown-item active' : 'dropdown-item']" @click="sortArtists(2)" href="#2">Duration</a></li>
                <li><a v-bind:class = "[sortPrice ? 'dropdown-item active' : 'dropdown-item']" @click="sortArtists(3)" href="#3">Price</a></li>
              </ul>
            </div>
            <div v-if="eventsList.length > 0"  v-for="(event, index) in eventsList" :key="index" class = "col-lg-6 col-md-6 col-sm-6" style='margin-bottom: 50px; display: inline; height: 250px' >
              <div v-if="event.name != ''">
                <b>Name:</b> {{event.name}}
              </div>
              <div v-if="event.type.length > 0">
                <b>Type:</b> {{event.type.join(', ')}}
              </div>
              <div v-if="event.date != ''">
                <b>Date:</b> {{event.date}}
              </div>
              <div v-if="event.location != ''">
                <b>Location:</b> {{event.location}}
              </div>
              <div v-if="event.distance > 0">
                <b>Distance:</b> {{event.distance}}
              </div>
              <div v-if="event.price > 0">
                <b>Price:</b> {{event.price}}
              </div>
              <div v-if="event.openSpots !== null">
                <b>Open Spots:</b> {{event.openSpots}}
              </div>
              <div v-if="event.peopleAttending != null">
                <b>People Attending:</b> {{event.peopleAttending}}
              </div>
              <div v-if="event.reccuring !== ''">
                <b>reccuring:</b> {{event.reccuring}}
              </div>
              <div v-if="event.calories.length > 0">
                <b>Calories:</b> {{event.calories.join(', ')}}
              </div>
              <div v-if="event.duration > 0">
                <b>Duration:</b> {{event.duration}} minutes
              </div>
              <div v-if="event.signin !== ''">
                <b>Sign up:</b> <a :href="event.signup" target="_blank">Link</a>
              </div>

            </div>
          </div>
        </div>
      </div>          
    </body>
</html>
