<!DOCTYPE html>
<html lang="en-US">
   <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>
    <script src="./scriptJs.js"></script>

    <!-- bootstap from online -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="eecs493.css">

   </head>

    <body>
      <div class='outer-container'>
        <div id="app">
        <img src = "./ActiveInvites Logo.jpg" class='logo' alt = “ActiveInvites”>
        <div class="page" id="signup">
          <div class="signup-form">
            <form>
              <h2> <strong>Sign Up </strong></h2>
              <p>Please fill in this form to create an account!</p>
              <hr>
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-6"><input type="text" class="form-control" name="first_name" placeholder="First Name" required="required"
                      v-model="newUser.firstname">
                    </div>
                    <div class="col-xs-6"><input type="text" class="form-control" name="last_name" placeholder="Last Name" required="required"
                      v-model="newUser.lastname">
                    </div>
                  </div>        	
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" placeholder="Email" required="required" v-model="newUser.email">
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" name="address" placeholder="Home Address" required="required" v-model="newUser.address">
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" name="zipcode" placeholder="Zipcode" required="required" v-model="newUser.zipcode">
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" name="age" placeholder="Age" required="required" v-model="newUser.age">
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" name="weight" placeholder="Weight (lbs)" required="required" v-model="newUser.weight">
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" name="height" placeholder="Height (cm)" required="required" v-model="newUser.height">
                </div>

                <div class="form-group">
                  <input type="password" class="form-control" name="password" placeholder="Password" required="required" v-model="newUser.password">
                </div>
      
                <div class="form-group">
                  <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the Terms of Use and Privacy Policy</label>
                </div>
                <div class="form-group">
                  <button type="button" class="btn btn-primary btn-lg" id="createaccount"> <strong>Sign Up </strong></button>
                </div>
            </form>
              <div class="hint-text">
                Already have an account? 
                <!-- ADD THIS -->
                <a href="#signin" id="login" onclick="showPage('signin');" >Login here</a> <!--onclick="show('signin');"-->
              </div>
          </div>  
        </div>    
        <div class="page" id="signin" style="display:none">
          <div class="signup-form">
            <form>
            
              <h2>Login</h2>
              <hr>
              <div class="form-group">  
                <div class="form-group">
                  <input type="email" class="form-control" name="email" placeholder="Email" required="required" v-model="newUser.email">
                </div>

                <div class="form-group">
                  <input type="password" class="form-control" name="password" placeholder="Password" required="required"
                      v-model="newUser.password">
                </div>

                <div class="form-group">
                  <button type="button" class="btn btn-primary btn-lg" id="createLogIn">Log in</button>
                </div>
              </div>
            </form>
          </div>
        </div>    

        <div class="page" id="events" style="display:none">
          
            <nav class="navbar navbar-default">
              <div class="container">
                <div class="navbar-header">
                    <h3 style="color:#E69615; font-family: 'Roboto', sans-serif">Fitness Event Search</h3>
                </div>
              </div>
            </nav>
          <div class = "container">
            <div class="search-container">
              <h4>Enter Event Name or Duration (mins): </h4>
              <input style="color: black;" type="text" v-on:keyup.enter="searchEvents" v-model="search" placeholder="Type here to search...">
              <button type="submit" v-on:click="searchEvents()" class="searchbutton"><i class="fa fa-search"></i></button>
              <button id= "viewProfile" onclick="showPage('profile');" style="color:#0275d8;">View Profile</button>
              <button id= "resetButton" style="color:#0275d8;">See All Events</button>
            </div>
            <h4>
              Events Found: {{numEvents}}
            </h4>
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort list of events by:
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a v-bind:class = "[sortDate ? 'dropdown-item active' : 'dropdown-item']" @click="sortEvents(1)" href="#">Date</a></li>
                <li><a v-bind:class = "[sortDuration ? 'dropdown-item active' : 'dropdown-item']" @click="sortEvents(2)" href="#">Duration</a></li>
                <li><a v-bind:class = "[sortPrice ? 'dropdown-item active' : 'dropdown-item']" @click="sortEvents(3)" href="#">Price</a></li>
              </ul>
              <button class="btn btn-default" style="color:#0275d8;" id="createEventButton" onclick="showPage('createNewEvent');">Create Event</button>
            </div>
            
            <div v-if="eventsList.length > 0"  v-for="(event, index) in eventsList" :key="index" class = "col-lg-6 col-md-6 col-sm-6" style='margin-bottom: 50px; display: inline; height: 250px' >
              <div v-if="event.name != ''">
                <strong>Name:</strong> {{event.name}}
              </div>
              <div v-if="event.type.length > 0">
                <strong>Type of Event:</strong> {{event.type.join(', ')}}
              </div>
              <div v-if="event.date != null">
                <strong>Date:</strong> {{event.date}}
              </div>
              <div v-if="event.location != ''">
                <strong>Location:</strong> {{event.location}}
              </div>
              <div v-if="event.distance > 0">
                <strong>Distance:</strong> {{event.distance}}
              </div>
              <div v-if="event.price > 0">
                <strong>Price:</strong> {{event.price}}
              </div>
              <div v-else>
                <strong>Price:</strong> free
              </div>
              <div v-if="event.openSpots !== null">
                <strong>Open Spots:</strong> {{event.openSpots}}
              </div>
              <div v-if="event.peopleAttending != null">
                <strong>People Attending:</strong> {{event.peopleAttending}}
              </div>
              <!-- <div v-if="event.reccuring === 1">
                <strong>Reccuring:</strong> every {{weekday[event.date.getDay()]}}
              </div> -->
              <div v-if="event.reccuring === 2">
                <strong>Reccuring:</strong> every Saturday and Sunday
              </div>
              <div v-if="event.reccuring === 5">
                <strong>Reccuring:</strong> Monday-Friday
              </div>
              <!-- <div v-if="event.calories.length > 0">
                <strong>Calories:</strong> {{event.calories.join(', ')}}
              </div> -->
              <div v-if="event.duration > 0">
                <strong>Duration:</strong> {{event.duration}} minutes
              </div>
              <div v-if="event.length > 0">
                <strong>Length:</strong> {{event.length}} miles
              </div>
              <div v-if="event.calories.length > 0">
                <strong>Calories Burned:</strong>
                <div v-for="(item, index) in event.calories">
                  {{event.type[index]}}: {{event.calories[index]}}
                </div>
              </div>
              <div v-if="event.date != null">
                <strong>Sign up:</strong> <a :href="event.signup" target="_blank">Link</a>
              </div>
              <div v-if="event.date == null">
                <strong>Park/Trail Map:</strong> <a :href="event.signup" target="_blank">Link</a>
              </div>
              <button class="btn btn-default" style="color:#0275d8;" type="button" v-on:click="saveEvent(index)">Save Event</button>
              <a v-if="event.date != null" v-on:click="createCalendarEvent(event)" target="_blank"> <button class="btn btn-default" style="color:#0275d8;">Add to Google Calendar</button></a>
            </div>
          </div>
        </div>
        <!-- User Profile -->
        <div class="page" id="profile" style="display:none; font-family: 'roboto'; padding: 10px" >
          <div class="signup-form">
            <button onclick="showPage('events');" class="btn btn-default" style="color:#0275d8; color:black"> Back to Event Search</button>
                  
            <h1 style="font-weight: bold; font-size: x-large; color:black"> User Profile </h1>
                  
                      <p> Name: {{newUser.firstname}} {{newUser.lastname}} </p>          
                      <p> Email: {{newUser.email}}</p>
                      <p> Address: {{newUser.address}}</p>
                      <p> Weight: {{newUser.weight}} lbs</p>
                      <p> Height: {{newUser.height}} cm</p>
                      <p> Age: {{newUser.age}}</p>
                      
                  <hr style="margin: 5px">
                <div v-if="newUser.savedEvents.length > 0" style="background-color: white;">
                  
                  <div  v-for="(event, index) in newUser.savedEvents" :key="index" class="col-lg-6 col-md-6 col-sm-6" 
                  style='margin-bottom: 50px; display: inline; height: 250px; color: black'>
                  <!-- <p> Events Saved: </p> -->
                    <div v-if="event.name != ''">
                      <strong>Name:</strong> {{event.name}}
                    </div>
                    <div v-if="event.type.length > 0">
                      <strong>Type of Event:</strong> {{event.type.join(', ')}}
                    </div>
                    <div v-if="event.date != null">
                      <strong>Date:</strong> {{event.date}}
                    </div>
                    <div v-if="event.location != ''">
                      <strong>Location:</strong> {{event.location}}
                    </div>
                    <div v-if="event.distance > 0">
                      <strong>Distance:</strong> {{event.distance}}
                    </div>
                    <div v-if="event.price > 0">
                      <strong>Price:</strong> <span>&dollar;</span> {{event.price}}
                    </div>
                    <div v-else>
                      <strong>Price:</strong> free
                    </div>
                    <div v-if="event.openSpots !== null">
                      <strong>Open Spots:</strong> {{event.openSpots}}
                    </div>
                    <div v-if="event.peopleAttending != null">
                      <strong>People Attending:</strong> {{event.peopleAttending}}
                    </div>
                    <div v-if="event.reccuring === 1">
                      <strong>Reccuring:</strong> every {{weekday[event.date.getDay()]}}
                    </div>
                    <div v-if="event.reccuring === 2">
                      <strong>Reccuring:</strong> every Saturday and Sunday
                    </div>
                    <div v-if="event.reccuring === 5">
                      <strong>Reccuring:</strong> Monday-Friday
                    </div>
                    <div v-if="event.calories.length > 0">
                      <strong>Calories:</strong> {{event.calories.join(', ')}}
                    </div>
                    <div v-if="event.duration > 0">
                      <strong>Duration:</strong> {{event.duration}} minutes
                    </div>
                    <div v-if="event.length > 0">
                      <strong>Length:</strong> {{event.length}} miles
                    </div>
                    <div v-if="event.date != null">
                      <strong>Sign up:</strong> <a :href="event.signup" target="_blank">Link</a>
                    </div>
                    <div v-if="event.date == null">
                      <strong>Park/Trail Map:</strong> <a :href="event.signup" target="_blank">Link</a>
                    </div>
                    <button id= "remove" v-on:click="removeSavedEvent(index)" style="color:#0275d8;">Remove Event</button>
                  <!-- </div>
                  <a v-on:click="createCalendarEvent(event)" target="_blank"> <button class="btn btn-default" style="color:#0275d8; margin-bottom: 5px; color: white;">Add to Google Calendar</button></a>
                </div> -->
                </div>
              </div>
            <div v-else>
             <p> No events saved! </p>
            </div>       
            </div>
          </div>   


        <div class="page" id="createNewEvent" style="display: none;">
          <div class="signup-form">
          <form>
              <h2>Create Event</h2>
              <p>Please fill in this form to create a new event!</p>
              <hr>
                <div class="form-group">
                  <input type="text" class="form-control" name="name" placeholder="*Event Name" required="required" v-model="newEvent.name">    	
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" name="type" placeholder="*Type of Event (seperate by comma if more than one)" required="required" v-model="types">
                </div>
                
                <form>
                  <label>*Date:</label>
                  <input type="datetime-local" id="eventDate" name="eventDate" style="color:black;" v-model="newEvent.date">
                </form>

                <div class="form-group">
                  <input type="text" class="form-control" name="location" placeholder="*Location" required="required" v-model="newEvent.location">
                </div>

                <div class="form-group">
                  <input type="number" class="form-control" name="price" placeholder="*Price" v-model="newEvent.price">
                </div>

                <div class="form-group">
                  <input type="number" class="form-control" name="openSpots" placeholder="Open Spots" v-model="newEvent.openSpots">
                </div>

                <div class="form-group">
                  <input type="number" class="form-control" name="peopleAttending" placeholder="Number of People Attending" v-model="newEvent.peopleAttending">
                </div>

                <div class="form-group">
                  <input type="number" class="form-control" name="reccuring" placeholder="Number of times event happens per week" v-model="newEvent.reccuring">
                </div>        
                <div class="form-group">
                  <input type="text" class="form-control" name="calories" placeholder="Calories" v-model="cal">
                </div> 
                <div class="form-group">
                  <input type="number" class="form-control" name="duration" placeholder="*Duration" v-model="newEvent.duration">
                </div>
                <div class="form-group">
                  <input type="number" class="form-control" name="length" placeholder="Length of Trail"  v-model="newEvent.length">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="signup" placeholder="Signup Link" v-model="newEvent.signup">
                </div>         
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-lg" id="eventCreate" v-on:click="createEvent()">Submit</button>
                  <button type="submit" class="btn btn-primary btn-lg" id="eventCreate" onclick="showPage('events');">Cancel</button>
                </div>
            </form>
          </div>
        </div>
      </div>
      </div>          
    </body>
</html>
